{% extends 'blogs/base.html'%}
{% block content %}
<p>Количество рассылок: {{ mailing }}</p>
<p>Количество активных рассылок: {{ mailing_active }}</p>
<p>Количество уникальных клиентов для рассылок: {{ clients }}</p>
{% for object in blog %}
<div class="col-md-4">
    <div class="card mb-4 box-shadow">
        <div class="card-body">
            <h3 class="card-text blog-title">
                {{ object.header }}
            </h3>
            <hr>
            <p class="card-text">
                {{ object.content|truncatechars:150 }}
            </p>
            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <a href="{% url 'blogs:view' object.pk %}" class="btn btn-sm btn-outline-primary">
                        Читать
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}